
body {
	font-family:Arial, Helvetica, sans-serif;
	background:#ffffff;
	font-size: 100%;



}
#big{
	background-color: gray;
	width: 1000px;
	margin:auto;
}
#hai{
	background-color: #ffffff;
	width: 960px;
	margin: auto;
}
#UT{
	float: left;
}
#top{
	height: 10px;
	background-color: 8F006D; 
	width: 960px;
	margin: auto;
}
.search_box{
	float: right;

	


	
	
}

#menu{
	

	float: right;
	float: bottom;

	background: white;



}
#menu ul{
	
	
	list-style-type: none;
	
}
#menu ul li {
		display: inline;
float: right;
	width: 100px;

}
#slide{
	margin: auto;

}
#slide p{
	text-align: center;
	margin: auto;
	width: 960px;
	background-color: B7B7B7;
	height: 100px;
}
#slide1{
	margin-top: 20px;
	margin: auto;
	width: 960px;
	height: 380px;
	background-color: 363636;
}
#slide1 img{

	margin: auto;
}
#caption{
	width: 400px;
	float: right;

	background-color: D7D7D7;

}


	
}
.PR{
	background-color: white;
	width:960px;
	margin:auto;

	
}
.sub_PR{
	width: 320px;
	height: 300px;
	float: left;
	
	background-color: white;
}
.sub_PR h5{
	float: left;
}
.sub_PR p{
	word-break: break-all;
	margin-right: 30px;
	}
#cont{
	
	background-color: B7B7B7 ;

	width:  960px;
	height: 700px;
	margin: auto;

}	
.sub_cont{
	width: 280px;
	
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	background-color: white;

}
.sub_cont p{
	word-break: break-all;
	text-align: center;
	float: left;
	width: 280px;

	
	}
#bottom{
	background-color: white;
	width: 960px;
	height: 250px;
	margin: auto;
}	
.sub_bottom{
	width: 220px;
	margin-left: 20px;
	float: left;

}
.sub_bottom a{
	
	float: right;
}
#footer{
	width: 960px;
	height: 100px;
	background-color:#555555;
	margin: auto;
}
#footer p{
	font-color:white;
}